{{/* web/templates/404.html.tmpl */}}

{{define "notfound/title"}}Not Found — {{.Site.Name}}{{end}}

{{define "notfound"}}
  {{template "base-header" .}}
  <div class="container" style="min-height: 60vh; display: grid; place-content: center; text-align: center;">
    <div>
      <h1 style="font-size: 2.5rem;">404 — Page not found</h1>
      <p class="subhead" style="margin-block: 1rem 2rem;">Sorry, we couldn’t find the page you were looking for.</p>
      <a href="/" class="btn">Home</a>
    </div>
  </div>
  {{template "base-footer" .}}
{{end}}

