{{/* web/templates/500.html.tmpl */}}

{{define "servererror"}}
  {{template "base-header" .}}
  <div class="container" style="min-height: 60vh; display: grid; place-content: center; text-align: center;">
    <div>
      <h1 style="font-size: 2.5rem;">500 — Internal Server Error</h1>
      <p class="subhead" style="margin-block:1rem 2rem;">Oops! Something went wrong on our end.</p>
      <a href="/" class="btn">Home</a>
    </div>
  </div>
  {{template "base-footer" .}}
{{end}}

